@import 'tailwindcss';
@tailwind utilities;

@config "../tailwind.config.js";

/* <StackIcon name="ae" /> */

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}
